{
  "env": {
    "node": true,
    "jest": true,
    "cypress/globals": true
  },
  "globals": {
    "__DEV__": true,
    "cy": true
  },
  "extends": [
    "@depeng9527/eslint-config"
  ],
  "plugins": ["jest", "cypress"],
  "rules": {
    "vue/no-lone-template": "off",
    "no-console": "off"
  }
}
